<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2>Senha de [<strong>{{ account.login }}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Senha alterada!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Erro!</strong> Senha não pôde ser alterada.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Valores não batem!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Senha atual</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Senha Atual"
                           formControlName="currentPassword">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                            Campo obrigatório.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nova senha</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Nova senha"
                           formControlName="newPassword">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.required">
                            Campo obrigatório.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmar nova senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirmar nova senha"
                           formControlName="confirmPassword">
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
